@charset="utf8"
body{
}
.display{
font: 100% Verdana, Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
text-align: left;
color: black;
font-size: 11px;
}

.signupform td{padding: 5px 10px 8px 0px;}

.login_form form input.text{
	padding-right:0px;
	height:16px;
	width:130px;
	font-size:11px;

}

form .signupform input.text{padding-right:0px;height:16px;width:170px;font-size:11px;}
.bottom_text{margin-left:50px;}

.rightcontent{float:right; width:656px;}

.container {
width: 962px;
min-height: 600px;
margin: 0 auto;
}
.banner{
	background: url(../img/banner.png) no-repeat;
	height: 150px;
	
}
.login_form {
float: right;
margin-top: 25px;
width: 400px;
height: auto /*102px*/;
max-height: 98px;
}
.clear{
	margin-left: 20px;
}
.banner_text {
color: #999;
}

.profile{
	background :url(../img/default_profile.png) no-repeat;
	text-indent: -999999px;
	height: 170px;
	width: auto;
	margin-top: 30px;

}
.left_content {
float: left;
width: 33%;
}
.text_reg {
margin-top: 15px;
padding-top: 40px;
background: url(../img/shooter.png);
background-repeat: no-repeat;
background-position: top right;
}
.spanHeader {
font-size: 18px;
font: bold;
margin-bottom: 2px;
}
.reg_form {
float: left;
width: 256px;
height: auto;
}
.right_content {
float: right;
margin-top: 48px;
}
.clear{
	margin-left: 20px;
}
.text_reg{
	margin-top: 15px;
	padding-top:40px;
	background:url(../img/shooter.png);
	background-repeat:no-repeat;
	background-position: top right;
}
.profile_display{
	background: url(../img/logo.gif);
	background-repeat: repeat-x;
	width: 250px;
	height: 100px;
}
.profile_display ul.menu{
	display: inline-block;
	margin-right: 5px;
	list-style: none;
	height: 35px;
	float: left;

}
.span4{
	width: 350px;
	display: inline-block;
}
.span8{
	width:550px;
}
